<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>add_invoice_item</h1>
        
        {{IO.customer.customer_name}} <br>
        {{IO.customer.customer_phone}} <br>
        {{IO.customer.customer_email}} <br>
        <h4>{{IO.customer.cusomr_name}}</h4>
       <form action="" method="POST">
        {% csrf_token %}
        {{EIIMFO.as_p}}
        <input type="submit" value="Submit">
       </form>
    </center>
</body>
</html>