{% extends 'inventory/dummy.html' %}
{% block title %}
<title>Customer List</title>
{% endblock %}
{% block content %}
    <center>
        <h1>Customer List</h1>

        <table border="2px" style="width: 60%;" cellpadding="10px" class="table table-striped-columns">
            <tr>
                <th>Customer name</th>
                <th>Customer address</th>
                <th>customer email</th>
                <th>Edit</th>
            </tr>

            {% for customer in customerobjects %}
            <tr>
                <td>{{customer.customer_name}}</td>
                <td>{{customer.customer_address}}</td>
                <td>{{customer.customer_email}}</td>
                <td> <a href="{% url 'CustomerUpdate' pk=customer.pk %}">edit</a></td>
                <td> <a href="{% url 'CustomerDelete' pk=customer.pk %}">delete</a></td>
                <td> <a href="{% url 'CustomerDetail' pk=customer.pk %}">view</a></td>
            </tr>
            {% endfor %}
        </table>
       <h3>Add new Customer: <a href="{% url 'CreateCustomer' %}" class="btn btn-success">Add</a> </h3>
    </center>

    {% endblock %}
