<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Product list</h1>
        <table border="2px" style="width: 50%;" cellpadding="10px">
            <tr>
                <th>Product Code</th>
                <th>Product Name</th>
               
                <th>UPDATE</th>
                <th>VIEW</th>
            </tr>
        
        {% for product in products %}
            <tr>
                <td>{{product.product_code}}</td>
                <td>{{product.product_name}}</td>
                
                <td><a href="{% url 'ProductUpdate' pk=product.pk %}">Update</a></td>
                <td><a href="{% url 'ProductDetail' pk=product.pk %}">view</a> </td>
                <td><a href="{% url 'ProductDelete' pk=product.pk %}">Delete</a> </td>
                
            </tr>
        
        {% endfor %}
        </table>
    </center>
</body>
</html>