{% extends 'inventory/dummy.html' %}

{% block title %}
    <title>ProductList</title>
{% endblock%}
  

{% block content%}
    <center>
        <h1>Product list</h1>
        <table border="2px" style="width: 50%;" cellpadding="10px" class="table table-striped-columns">
            <tr>
                <th>Product Code</th>
                <th>Product Name</th>

                <th>UPDATE</th>
                <th>VIEW</th>
            </tr>

            {% for product in products %}
            <tr>
                <td>{{product.product_code}}</td>
                <td>{{product.product_name | upper}}</td>

                <td><a href="{% url 'ProductUpdate' pk=product.pk %}">Update</a></td>
                <td><a href="{% url 'ProductDetail' pk=product.pk %}">view</a> </td>
                <td><a href="{% url 'ProductDelete' pk=product.pk %}">Delete</a> </td>

            </tr>

            {% endfor %}

            

        </table>
        <a href="{% url 'ProductCreate' %}">Add Product</a>
    </center>

{% endblock %}
